*
{
  text-align: center;
  margin: auto;
}

th, td {
  height: 40px;
  width: 40px;
  border: 1px solid #333;
  transition: all .5s ease-in-out;
}

th:hover, td:hover {
  background-color: #c8d6e5;
  cursor: pointer;
}
