$main-font: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
//'Catamaran', 'Georgia', 'Helvetica', 'Arial', sans-serif;
$menu-font: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
//'Catamaran', 'Helvetica', 'Arial', sans-serif;


$color-white: #fff;
$color-grey: #999;
$color-black: #000;
$background-grey: #f9f9f9;

$color-green: #00b27f;
$color-red: #d63031;
$color-blue: #0984e3;

$color-border: #e8e8e8;
