$color-accent: #772953;
$main-font: 'Catamaran', 'Georgia', 'Helvetica', 'Arial', sans-serif;
$menu-font: 'Catamaran', 'Helvetica', 'Arial', sans-serif;

$color-grey: #9E9E9E;
$color-blue: #4a90e2;
$color-red: #F77A52;
$color-black: #111;
$color-trip-grey: #F9F9F9;
