@import './colors.scss';
/* Form */

.ui-form {
  max-width: 340px;
  // padding: 80px 30px 30px;
  margin: 50px auto;
}
.ui-form {
  text-align: center;
}
.ui-form > * {
  margin-top: 10px;
}
.ui-form .button
{
  width: 100%;
  color: $color-white;
  margin: 0;
  margin-top: 10px;
  &:hover {
    opacity: .8;
  }
}
.ui-form button.button {
  color: $color-grey;
}
.ui-form #fb-login {
  background: #4267B2;
}

.ui-form #company-login {
  background: grey;
}

.ui-form #google-login {
  background: $color-red;
}

